//调整距离
.margin-top-8
  margin-top:8px
.margin-bottom-8
  margin-bottom:8px
.cursor-pointer
  cursor:pointer


//显示加载状态
.spin-icon-load
  animation: ani-demo-spin 1s linear infinite
  @keyframes ani-demo-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
  }

//首页统一样式显示
.topIcon
  width: 30px
  padding: 18px 0
  text-align: center
